<%= f.hidden_field :issue_id %>

<div>
  <%= f.fields_for :scheduling_poll_item do |f_item| %>
    <%= render :partial => "scheduling_poll_item_form", :locals => { :f => f, :f_item => f_item } %>
  <% end %>

  <%= link_to_add_scheduling_poll_item_fields_function "Add item", f, :target => '$(this).before(%S)' do |f_item| %>
    <%= render :partial => "scheduling_poll_item_form", :locals => { :f => f, :f_item => f_item } %>
  <% end %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
