<h2>PollController#show - <%= @poll.issue.subject %></h2>

<% vote_values = Hash[*scheduling_vote_values_array.flatten] %>

<%= form_tag(url_for(:controller => "scheduling_polls", :id => @poll.id, :action => "vote")) do %>

<table>
<thead>
  <tr>
    <th><!-- name --></th>
    <% vote_values.each_pair do |k,v| %>
      <%= content_tag :td, v %>
    <% end %>
    <%= content_tag :td, User.current.name %>
  </tr>
</thead>
<tbody>
<% @poll.scheduling_poll_item.each do |item| %>
  <tr>
    <%= content_tag :th, item.text %>
    <% vote_values.each_pair do |k,v| %>
      <%= content_tag :td, item.scheduling_vote.where(:value => k).length %>
    <% end %>
    <td>
      <% current_vote_value = scheduling_vote_value(item.vote_by_user(User.current)) %>
      <% vote_values.merge(0 => scheduling_vote_value(0)).each_pair do |k,v| %>
        <%= radio_button :scheduling_vote, item.id, k, :checked => (v == current_vote_value) %>
        <%= label :scheduling_vote, item.id, v, :value => k %>
      <% end %>
    </td>
  </tr>
<% end %>
</tbody>
<tfoot>
  <tr>
    <th></th>
    <%= content_tag :td, nil, :colspan => vote_values.length %>
    <td>
      <%= submit_tag "Vote" %>
      <%= submit_tag "Reset", :type => "reset", :name => nil %>
    </td>
  </tr>
</tfoot>
</table>

<% end %>

