<%= content_for :sidebar do %>
  <%= render_date_related_parameter_of_issue(@poll.issue) %>
<% end %>

<h2>Vote</h2>

<div id="scheduling-poll" class="box">
<div class="contextual">
  <%= link_to 'Edit poll items', scheduling_poll_edit_path(@poll), :class => 'icon icon-edit' %>
</div>
<h3><%= @poll.issue.subject %></h3>

<% unless @poll.scheduling_poll_items.empty? %>

<% vote_values = Hash[*scheduling_vote_values_array.flatten] %>
<%= form_tag(url_for(:controller => "scheduling_polls", :id => @poll.id, :action => "vote")) do %>

<table class="list">
<thead>
  <tr>
    <th><!-- name --></th>
    <% if User.current.allowed_to?(:vote_schduling_polls, @poll.issue.project) %>
      <%= content_tag :th, User.current.name %>
    <% end %>
    <% vote_values.each_pair do |k,v| %>
      <%= content_tag :th, v %>
    <% end %>
  </tr>
</thead>
<tbody>
<% @poll.scheduling_poll_items.sorted.each_with_index do |item,i| %>
  <tr class="<%= (i % 2 == 0)? 'odd' : 'even' %>">
    <%= content_tag :td, item.text %>
    <% if User.current.allowed_to?(:vote_schduling_polls, @poll.issue.project) %>
      <td>
        <% current_vote_value = scheduling_vote_value(item.vote_by_user(User.current)) %>
        <% vote_values.merge(0 => scheduling_vote_value(0)).each_pair do |k,v| %>
          <%= radio_button :scheduling_vote, item.id, k, :checked => (v == current_vote_value) %>
          <%= label :scheduling_vote, item.id, v, :value => k %>
        <% end %>
      </td>
    <% end %>
    <% vote_values.each_pair do |k,v| %>
      <%= content_tag :td, item.scheduling_votes.where(:value => k).length %>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>
<% if User.current.allowed_to?(:vote_schduling_polls, @poll.issue.project) %>
<div>
  <%= link_to_function "Add a comment", '$("#vote_comment").show();$(this).hide()', :class => 'icon icon-comment' %>
  <%= text_area_tag :vote_comment, '', :style => 'display: none; width: 100%' %>
</div>
<div>
      <%= submit_tag "Vote" %>
      <%= submit_tag "Reset", :type => "reset", :name => nil %>
</div>
<% end %>

<% end %>
<% else %><%# if @poll.scheduling_poll_items.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

</div>

<h3>Voting Result</h3>
<% unless @poll.users.empty? %>
<table class="list">
  <thead>
    <th></th>
    <% @poll.scheduling_poll_items.sorted.each do |item| %>
    <th><%= item.text %></th>
    <% end %>
  </thead>
  <tbody>
    <% @poll.users.each_with_index do |user,i| %>
    <tr class="<%= (i % 2 == 0)? 'odd' : 'even' %>">
      <td><%= link_to user.name, user_path(user) %></td>
      <% @poll.scheduling_poll_items.sorted.each do |item| %>
        <td><%= scheduling_vote_value(item.vote_by_user(user)) %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %><%# if @poll.scheduling_poll_items.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

