<%# frozen_string_literal: true %>
<%= content_for :header_tags do %>
  <%= stylesheet_link_tag 'scheduling_polls.css', :plugin => 'redmine_scheduling_poll' %>
<% end %>
<%= content_for :sidebar do %>
  <%= render_date_related_parameter_of_issue(@poll.issue) %>
<% end %>

<h2><%=h l :label_scheduling_poll %></h2>
<% html_title "#{l :label_scheduling_poll}", "#{@poll.issue.tracker.name} ##{@poll.issue.id}: #{@poll.issue.subject}" %>

<div id="scheduling-poll" class="box">
<div class="contextual">
  <%= link_to l(:label_edit_scheduling_poll_items), scheduling_poll_edit_url(@poll), :class => 'icon icon-edit' %>
</div>
<h3><%= @poll.issue.subject %></h3>

<% unless @poll.scheduling_poll_items.empty? %>

<% vote_values = Hash[*scheduling_vote_values_array.flatten] %>
<%= form_tag(url_for(:controller => "scheduling_polls", :id => @poll.id, :action => "vote")) do %>

<div class="autoscroll">
<table class="list">
<thead>
  <tr>
    <th><!-- name --></th>
    <% if User.current.allowed_to?(:vote_schduling_polls, @poll.issue.project) %>
      <%= content_tag :th, User.current.name %>
    <% end %>
    <% vote_values.each_pair do |k,v| %>
      <%= content_tag :th, v, :class => "scheduling-poll-vote-result-side-col" %>
    <% end %>
  </tr>
</thead>
<tbody>
<% @poll.scheduling_poll_items.sorted.each_with_index do |item,i| %>
  <tr class="<%= (i % 2 == 0)? 'odd' : 'even' %>">
    <%= content_tag :td, item.text %>
    <% if User.current.allowed_to?(:vote_schduling_polls, @poll.issue.project) %>
      <td>
        <% current_vote_value = scheduling_vote_value(item.vote_by_user(User.current)) %>
        <% vote_values.merge(0 => scheduling_vote_value(0)).each_pair do |k,v| %>
          <label class="scheduling-poll-vote-radiobutton">
            <%= radio_button :scheduling_vote, item.id, k, :checked => (v == current_vote_value) %>
            <%=h v %>
          </label>
        <% end %>
      </td>
    <% end %>
    <% num_of_votes = item.scheduling_votes.group(:value).count %>
    <% vote_values.each_pair do |k,v| %>
      <%= content_tag :td, num_of_votes[k] || 0, :class => "scheduling-poll-vote-result-side-col" %>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>
</div>
<% if User.current.allowed_to?(:vote_schduling_polls, @poll.issue.project) %>
<div>
  <%= link_to_function l(:label_add_comment_with_scheduling_poll_vote), '$("#vote_comment_fields").show();$(this).hide()', :class => 'icon icon-comment' %>
  <div id="vote_comment_fields" style="display: none;">
    <%= text_area_tag :vote_comment, '', :class => 'wiki-edit' %>
    <%= wikitoolbar_for "vote_comment", preview_issue_path(:project_id => @poll.issue.project, :issue_id => @poll.issue.id) %>
  </div>
</div>
<div>
  <%= submit_tag l(:label_vote_on_scheduling_poll) %>
</div>
<% end %>
<%= javascript_tag <<EOD
$(function() {
  "use strict";
  $("#scheduling-poll form").on("submit", function (event) {
    if ($("[name^=scheduling_vote]").filter(function(){ return this.defaultChecked != this.checked; }).length == 0) {
      alert(#{l(:error_scheduling_vote_no_change).to_json});
      $(this).removeAttr("data-submitted");
      return false;
    }
  });
});
EOD
%>

<% end %>
<% else %><%# if @poll.scheduling_poll_items.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

</div>

<h3><%=h l(:label_scheduling_poll_voting_result) %></h3>
<% unless @poll.users.empty? %>
<div class="autoscroll">
<table class="list scheduling-voting-result">
  <thead>
    <th></th>
    <% @poll.scheduling_poll_items.sorted.each do |item| %>
    <th><%= item.text %></th>
    <% end %>
  </thead>
  <tbody>
    <% @poll.users.preload(:email_address).each_with_index do |user,i| %>
    <tr class="<%= (i % 2 == 0)? 'odd' : 'even' %>">
      <td>
        <%= avatar(user, :size => "14") %>
        <%= link_to user.name, user_url(user) %>
      </td>
      <% @poll.scheduling_poll_items.sorted.each do |item| %>
        <% vote = item.vote_by_user(user) %>
        <% if vote %>
          <%= content_tag :td, scheduling_vote_value(vote), :title => format_time(vote.updated_at || vote.created_at) %>
        <% else %>
          <%= content_tag :td %>
        <% end %>
      <% end %>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <% vote_values.keys.each_with_index do |k,i| %>
    <tr class="<%= (i % 2 == 0)? 'odd' : 'even' %>">
      <td><%=h vote_values[k] %></td>
      <% num_of_votes = SchedulingVote.where(:value => k).group(:scheduling_poll_item_id).count %>
      <% @poll.scheduling_poll_items.sorted.each do |item| %>
      <%= content_tag :td, num_of_votes[item.id] || 0 %>
      <% end %>
    </tr>
    <% end %>
  </tfoot>
</table>
</div>

<ul class="scheduling-voting-result-timeline">
<% ((@poll.votes.includes(:user).group_by(&:user).map{|user,votes| [user, votes.map {|v| v.updated_at || v.created_at}.max ]}) +
    (@poll.scheduling_poll_items.map{|v| [v, v.updated_at || v.created_at]} )).reject{|v| v[1].nil? }.sort{|a,b| a[1] <=> b[1]}.each do |v| %>
  <% subject, datetime = v %>
  <% if subject.kind_of? User
     user = subject %>
    <li>
      <%= avatar(user, :size => "24") %>
      <%= authoring datetime, user, :label => :label_updated_time_by %>
    </li>
  <% elsif subject.kind_of? SchedulingPollItem %>
    <li class="scheduling-poll-item-update">
      <%= l(:label_scheduling_poll_item) %> "<%=h subject.text %>":
      <%= l(:label_updated_time, :value => time_tag(datetime)).html_safe %>
    </li>
  <% end %>
<% end %>
</ul>
<% else %><%# if @poll.scheduling_poll_items.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

